html {
  font-size: 18px;
  font-family: Helvetica;
}

/* -- Universal Styles for Multiple Sections -- */
body {
  line-height: 1.4rem;
}

.title {
  color: white;
}

.container {
  width: 960px;
  margin: 0px auto;
}

.sign {
  display: flex;
}

/* -- Styles for Main Banner Section -- */
header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

nav {
  background-color: cadetblue;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

.corporate-name img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.menu ul {
  margin-right: 1rem;
}

.menu ul li {
  display: inline;
  padding: 0 1rem;
}

.mobile-menu {
  display: none; /* -- Only for Mobile Screens -- */
}

header .sign {
  justify-content: flex-end;
}

.banner {
  background-color: white;
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

.banner span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* -- Styles for Feature and Details Sections -- */
.features {
  display: flex;
  justify-content: center;
}

.feature-item {
  height: 8rem;
  width: 5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feature-item span {
  height: 3rem;
  text-align: center;
}

#paper {
  width: 3.5rem;
}

#ruler, #truck {
  width: 5rem;
}

.details {
  display: flex;
  justify-content: center;
}

.detail-item {
  width: 35%;
  padding-right: 5%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.detail-item h3 {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  width: 10rem;
  margin-bottom: 1rem;
}

/* -- Styles for Footer -- */
footer {
  background-color: azure;
}

.copyright {
  padding: 4rem;
  display: flex;
  align-items: center;
}

.copyright img {
  height: 1.5rem;
  padding-right: 1rem;
}


/* --Media Queries for Tablet Size -- */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  header {
    padding-top: 0;
    height: 22rem;
  }

  .banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .banner span {
    font-size: 1.33rem;
  }
}


/* --MMedia Queries for Mobile Size -- */
@media only screen and (max-width: 640px) {
  header {
    background-position: 20%;
    height: 17rem;
  }

  .corporate-name span {
    display: none;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: inline;
    margin-right: 1rem;
  }

  .mobile-menu ul li {
    display: inline;
    padding: 0 1rem;
  }

  header .sign {
    width: 100%;
    justify-content: center;
  }

  .banner {
    width: 100%;
    margin: 9rem 0 0 0;
    padding: 1rem 0;
    text-align: center;
  }

  .banner span {
    font-size: 1rem;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
  }

  .feature-item {
    height: auto;
    padding: 0;
  }

  #paper, #ruler, #truck {
    padding-top: 0.77rem;
  }

  .feature-item span {
    padding-top: 0.77rem;
    height: auto;
    font-size: 0.77rem;
    line-height: normal;
  }

  .details {
    display: inline;
  }

  .detail-item {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }

  .detail-item h3 {
    background-color: cadetblue;
    text-align: center;
    padding: 0.5rem 1.25rem;
    font-weight: bold;
    width: auto;
    margin-bottom: 1rem;
  }

  .detail-item span {
    font-size: 0.77rem;
  }

  .copyright {
    justify-content: center;
  }

  .copyright span {
    display: none;
  }
}
